<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>Edit DressCard</h3>
    <form method="POST" action="/dresscards/<%= dresscard._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <lable for="title" class="form-label">Title</lable>
            <input name="dresscard[title]" value="<%= dresscard.title %>" type="text" class="form-control" required>
        </div>
        <div class="mb-3">
            Original Image
            <img src="<%= originalImageUrl %>" />
        </div>
        <div class="mb-3">
            <lable for="image" class="form-label">Upload New Image</lable>
            <input name="dresscard[image]"  type="file" class="form-control">
        </div>
        <div class="mb-3">
            <lable for="category" class="form-label">Category</lable>
            <div class="category">
                <select id="categorySelect" name="dresscard[category]" value="<%= dresscard.category %>" class="form-control" required>
                <option value="<%= dresscard.category %>"><%= dresscard.category %></option>
                <option value="women">Women</option>
                <option value="men">Men</option>
                <option value="girl">Girl</option>
                <option value="boy">Boy</option>
                </select>
                <div class="invalid-feedback">Please enter a valid category</div>
            </div>
       </div>
        <div class="mb-3">
            <lable for="price" class="form-label">Price</lable>
            <input name="dresscard[price]" value=<%= dresscard.price %> type="number" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid price</div>
        </div>
        <button class="btn btn-dark add-btn">Save Changes</button>
    </form>
    </div>
</div>
</body>
